<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
      <q-btn flat dense round icon="menu" class="q-mr-md text-primary bg-grey-4 q-pa-md" transition="jump-up" @mouseover="hover = true" @mouseleave="hover = false" :color="hover ? 'primary' : 'primary'" :aria-label="Menu" @click="toggleLeftDrawer" >
        <q-tooltip v-if="hover">Izbornik</q-tooltip>
      </q-btn>

        <q-toolbar-title>
          Piramida
        </q-toolbar-title>

        <q-btn v-if="!user" @click="login" label="Login" color="primary" />
        <q-btn v-else @click="logout" label="Logout" color="secondary" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above>
      <q-list style="font-size: 18px;">
        <q-item clickable v-ripple @click="goTo('Kafici')" v-bind:class="{'item-active': activeItem === 'Kafici'}">
          <q-item-section avatar>
            <q-icon name="coffeeshop" />
          </q-item-section>
          <q-item-section>Kafici</q-item-section>
        </q-item>
        <q-item clickable v-ripple @click="goTo('Restorani')" v-bind:class="{'item-active': activeItem === 'Restorani'}">
          <q-item-section avatar>
            <q-icon name="restaurant" />
          </q-item-section>
          <q-item-section>Restorani</q-item-section>
        </q-item>
        <q-item clickable v-ripple @click="goTo('FastFood')" v-bind:class="{'item-active': activeItem === 'FastFood'}">
          <q-item-section avatar>
            <q-icon name="fastfood" />
          </q-item-section>
          <q-item-section>FastFood</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref, onMounted, inject } from 'vue'
import { useRouter } from 'vue-router'
import { signOut } from 'firebase/auth'

export default defineComponent({
  name: 'MainLayout',
  setup () {
    const hover = ref(false)
    const leftDrawerOpen = ref(false)
    const user = ref(null)
    const auth = inject('$auth')
    const router = useRouter()
    const activeItem = ref('')

    onMounted(() => {
      auth.onAuthStateChanged((firebaseUser) => {
        console.log(firebaseUser)
        user.value = firebaseUser
      })
    })

    function login () {
      router.push('/Login')
    }

    function logout () {
      if (auth.currentUser) {
        signOut(auth).then(() => {
          user.value = null
          console.log('User signed out.')
        }).catch((error) => {
          console.error('Sign Out Error: ', error)
        })
        location.reload()
      } else {
        console.log('No user is signed in.')
      }
    }

    function goTo (page) {
      router.push('/' + page)
      leftDrawerOpen.value = false
      activeItem.value = page
    }

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      user,
      activeItem,
      login,
      logout,
      hover,
      goTo
    }
  }
})
</script>
<style scoped>
.q-item {
  transition: background-color .3s ease-in-out;
}

.q-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.item-active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
</style>
