<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 500px">
      <q-table title="Fast Food" :data="fastfood" :columns="columns" row-key="id" flat>
        <template v-slot:top>
          <q-btn color="primary" label="Dodaj Fast Food" @click="onNewRow" />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name === 'actions'">
              <q-btn dense color="primary" icon="edit" @click="onUpdateRow(props.row)" />
              <q-btn dense color="primary" icon="delete" @click="onDeleteRow(props.row)" />
            </div>
            <div v-else>{{ props.row[props.col.field] }}</div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-if="openDialog" v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Fast Food</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input ref="ime" :error="!fastfood.ime || fastfood.ime.length === 0" error-message="Ime Fast Fooda je obavezno." label="Ime Fast Fooda" v-model="fastfood.ime" />
          <q-input ref="lokacija" :error="!fastfood.lokacija || fastfood.lokacija.length === 0" error-message="Lokacija Fast Fooda je obavezna." label="Lokacija Fast Fooda" v-model="fastfood.lokacija" />
          <q-input ref="slika" :error="!fastfood.slika || fastfood.slika.length === 0" error-message="URL slike Fast Fooda je obavezan." label="URL slike Fast Fooda" v-model="fastfood.slika" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'FastFoodIndex',

  data () {
    return {
      openDialog: false,
      fastfood: {
        ime: '',
        lokacija: '',
        slika: ''
      },
      columns: [
        { name: 'ime', label: 'Ime Fast Fooda', align: 'left', field: 'ime', sortable: true },
        { name: 'lokacija', label: 'Lokacija', align: 'left', field: 'lokacija', sortable: true },
        { name: 'actions', label: 'Akcije', align: 'left', field: null, sortable: false }
      ]
    }
  },

  mounted () {
    // Simulacija dobavljanja podataka iz baze podataka
    setTimeout(() => {
      this.fastfood = [
        { id: 1, ime: 'Fast Food 1', lokacija: 'Lokacija 1', slika: 'https://example.com/slika1.jpg' },
        { id: 2, ime: 'Fast Food 2', lokacija: 'Lokacija 2', slika: 'https://example.com/slika2.jpg' },
        { id: 3, ime: 'Fast Food 3', lokacija: 'Lokacija 3', slika: 'https://example.com/slika3.jpg' }
      ]
    }, 1000)
  },

  methods: {
    onNewRow () {
      this.fastfood = { ime: '', lokacija: '', slika: '' }
      this.openDialog = true
    },

    onOKClick () {
      const { ime, lokacija, slika } = this.fastfood

      if (ime && ime.length > 0 && lokacija && lokacija.length > 0 && slika && slika.length > 0) {
        // Simulacija spremanja podataka u bazu podataka
        this.fastfood.id = Date.now()
        this.fastfood.push(...this.fastfood, { ...this.fastfood })
        this.openDialog = false
      }
    },

    onCancelClick () {
      this.openDialog = false
    },

    onUpdateRow (fastfood) {
      this.fastfood = { ...fastfood }
      this.openDialog = true
    },

    onDeleteRow (fastfood) {
      const index = this.fastfood.findIndex((item) => item.id === fastfood.id)
      if (index !== -1) {
        this.fastfood.splice(index, 1)
      }
    }
  }
}
</script>
