<template>
  <q-page class="flex flex-center">
    <div class="text-center">
      <h3 class="text-primary">Dobrodošli na stranicu Piramida</h3>
      <img alt="Quasar logo" src="~assets/quasar-logo-vertical.svg" style="width: 200px; height: 200px" >
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
