<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 500px">
      <q-table title="Kafići" :rows="kafici" :columns="columns" row-key="id" flat>
        <template v-slot:top>
          <q-btn color="primary" label="Dodaj kafić" @click="onNewRow" />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name === 'actions'">
              <q-btn dense color="primary" icon="edit" @click="onUpdateRow(props.row)" />
              <q-btn dense color="primary" icon="delete" @click="onDeleteRow(props.row)" />
            </div>
            <div v-else>{{ props.row[props.col.field] }}</div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-if="openDialog" v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Kafić</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input ref="ime" :error="!kafic.ime || kafic.ime.length === 0" error-message="Ime kafića je obavezno." label="Ime kafića" v-model="kafic.ime" />
          <q-input ref="lokacija" :error="!kafic.lokacija || kafic.lokacija.length === 0" error-message="Lokacija kafića je obavezna." label="Lokacija kafića" v-model="kafic.lokacija" />
          <q-input ref="slika" :error="!kafic.slika || kafic.slika.length === 0" error-message="URL slike kafića je obavezan." label="URL slike kafića" v-model="kafic.slika" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import { getDatabase, ref as dbRef, push, remove, onChildAdded } from 'firebase/database'

export default {
  name: 'KaficiIndex', 

  setup () {
    const openDialog = ref(false)
    const kafic = ref({
      ime: '',
      lokacija: '',
      slika: ''
    })
    const kafici = ref([])
    const columns = [
      { name: 'ime', label: 'Ime kafića', align: 'left', field: 'ime', sortable: true },
      { name: 'lokacija', label: 'Lokacija', align: 'left', field: 'lokacija', sortable: true },
      { name: 'actions', label: 'Akcije', align: 'left', field: null, sortable: false }
    ]

    const database = getDatabase()

    const loadKafici = () => {
      const kaficiRef = dbRef(database, 'kafici')
      onMounted(() => {
        onChildAdded(kaficiRef, (snapshot) => {
          const kafic = snapshot.val()
          kafic.id = snapshot.key
          kafici.value.push(kafic)
        })
      })
    }

    const onNewRow = () => {
      kafic.value = { ime: '', lokacija: '', slika: '' }
      openDialog.value = true
    }

    const onOKClick = () => {
      const { ime, lokacija, slika } = kafic.value

      if (ime && ime.length > 0 && lokacija && lokacija.length > 0 && slika && slika.length > 0) {
        const newKaficRef = push(dbRef(database, 'kafici'))
        const newKafic = {
          ime,
          lokacija,
          slika
        }
        newKaficRef.set(newKafic)
        openDialog.value = false
      }
    }

    const onCancelClick = () => {
      openDialog.value = false
    }

    const onUpdateRow = (kafic) => {
      kafic.value = { ...kafic }
      openDialog.value = true
    }

    const onDeleteRow = (kafic) => {
      const kaficRef = dbRef(database, `kafici/${kafic.id}`)
      remove(kaficRef)
    }

    onMounted(() => {
      loadKafici()
    })

    return {
      openDialog,
      kafic,
      kafici,
      columns,
      onNewRow,
      onOKClick,
      onCancelClick,
      onUpdateRow,
      onDeleteRow
    }
  }
}
</script>
