<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 500px">
      <q-table title="Restorani" :data="restorani" :columns="columns" row-key="id" flat>
        <template v-slot:top>
          <q-btn color="primary" label="Dodaj restoran" @click="onNewRow" />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name === 'actions'">
              <q-btn dense color="primary" icon="edit" @click="onUpdateRow(props.row)" />
              <q-btn dense color="primary" icon="delete" @click="onDeleteRow(props.row)" />
            </div>
            <div v-else>{{ props.row[props.col.field] }}</div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-if="openDialog" v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Restoran</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input ref="ime" :error="!restoran.ime || restoran.ime.length === 0" error-message="Ime restorana je obavezno." label="Ime restorana" v-model="restoran.ime" />
          <q-input ref="lokacija" :error="!restoran.lokacija || restoran.lokacija.length === 0" error-message="Lokacija restorana je obavezna." label="Lokacija restorana" v-model="restoran.lokacija" />
          <q-input ref="slika" :error="!restoran.slika || restoran.slika.length === 0" error-message="URL slike restorana je obavezan." label="URL slike restorana" v-model="restoran.slika" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'RestoraniIndex',

  data () {
    return {
      openDialog: false,
      restoran: {
        ime: '',
        lokacija: '',
        slika: ''
      },
      restorani: [],
      columns: [
        { name: 'ime', label: 'Ime restorana', align: 'left', field: 'ime', sortable: true },
        { name: 'lokacija', label: 'Lokacija', align: 'left', field: 'lokacija', sortable: true },
        { name: 'actions', label: 'Akcije', align: 'left', field: null, sortable: false }
      ]
    }
  },

  mounted () {
    // Simulacija dobavljanja podataka iz baze podataka
    setTimeout(() => {
      this.restorani = [
        { id: 1, ime: 'Restoran 1', lokacija: 'Lokacija 1', slika: 'https://example.com/slika1.jpg' },
        { id: 2, ime: 'Restoran 2', lokacija: 'Lokacija 2', slika: 'https://example.com/slika2.jpg' },
        { id: 3, ime: 'Restoran 3', lokacija: 'Lokacija 3', slika: 'https://example.com/slika3.jpg' }
      ]
    }, 1000)
  },

  methods: {
    onNewRow () {
      this.restoran = { ime: '', lokacija: '', slika: '' }
      this.openDialog = true
    },

    onOKClick () {
      const { ime, lokacija, slika } = this.restoran

      if (ime && ime.length > 0 && lokacija && lokacija.length > 0 && slika && slika.length > 0) {
        // Simulacija spremanja podataka u bazu podataka
        this.restoran.id = Date.now()
        this.restorani.push({ ...this.restoran })
        this.openDialog = false
      }
    },

    onCancelClick () {
      this.openDialog = false
    },

    onUpdateRow (restoran) {
      this.restoran = { ...restoran }
      this.openDialog = true
    },

    onDeleteRow (restoran) {
      const index = this.restorani.findIndex((item) => item.id === restoran.id)
      if (index !== -1) {
        this.restorani.splice(index, 1)
      }
    }
  }
}
</script>
